*,
*:after,
*:before {
	box-sizing: border-box;
}

html,body {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}


.wrapper {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

.box {
	height: 500px;
	background-color: #e7e7e7;
	border: 1px solid rgba(0,0,0,0.87);
}

/* Add Custom CSS Below this line */
#box1 {
  background-color: teal;
  height: 40px;
  width: 50%;
    display: inline-block;
}
#box2 {
  background-color: orange;
  height: 40px;
  width: 40%;
    display: inline-block;
}
#box3 {
  background-color: yellow;
    display: block;
}
#box4 {
  display: inline-block;
  background-color: #bd07c0;
  width: 200px;
  height: 15px;
}