/* grid system */
.row{
    width: 100%;
}
.col-1{
    width: 8.33333333333%;
}
.col-2{
    width: 16.6666666667%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333333333%;
}
.col-5{
    width: 41.6666666667%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333333333%;
}
.col-8{
    width: 66.6666666666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333333333%;
}
.col-11{
    width: 91.6666666666%;
}
.col-12{
    width: 100%;
}
/* main container  styles */
container{
    font-family: sans-serif;  
}
/* nav bar  styles */
.nav-bar{
    background-color: black;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index:2; 
}
#heading-style{
    color:azure;
    text-align: center;
    font-size: 50px;
    margin: 10px;
}
/* restaurant details  styles */
.content{
    background-color: aqua;
    margin-top: 78px;
}
div.item{
    display: inline-block;
    width:24%;
    min-width: 24%;
    position: relative;
    height: 210px;
    margin-right: 10px;
}
img{
    position: absolute;
    height: 130px;
    top: 20px;
    left: 40px;
    z-index: 1;
    border-radius: 15px;
}
div.info{
    background-color:black ;
    position: absolute;
    width: 250px;
    height: 160px;
    border: 2px solid Red;
    top: 40px;
    border-radius: 15px;
    z-index: 0;
    left: 70px;
}
p.info-content{
    position: absolute;
    left: 30px;
    top: 70px;
    font-size: 40px;
    font-weight:bolder;
    letter-spacing: -1;
    text-shadow:
	5px -2px 0px white;
}
#KFC{
    left: 70px;
}
/* restaurant menu  styles */
.menu_buttons{
    background-color: aqua;
    width: 100%;
    height: 40px;
}
.menu_item{
    display: inline-block;
    width:24%;
    min-width: 24%;
    margin-right: 10px;

}
/* Dropdown Button */
.dropbtn1,
.dropbtn2,
.dropbtn3,
.dropbtn4 {
    background-color: #13C4A3;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15%;
    margin-left: 40px   ;
}

/* Dropdown button on hover & focus */
.dropbtn1:hover, .dropbtn1:focus,
.dropbtn2:hover, .dropbtn2:focus,
.dropbtn3:hover, .dropbtn3:focus,
.dropbtn4:hover, .dropbtn4:focus{
    background-color: forestgreen;
}

/* The container <div> - needed to position the dropdown content */
.dropdown{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1,.dropdown-content2,.dropdown-content3,.dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 319px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* list inside the dropdown */
.dropdown-content1 ul,
.dropdown-content2 ul,
.dropdown-content3 ul,
.dropdown-content4 ul {
    padding: 0px;
    list-style: none;
}

.dropdown-content1 li,
.dropdown-content2 li,
.dropdown-content3 li,
.dropdown-content4 li {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

/* Change color of dropdown li on hover */
.dropdown-content1 li:hover,
.dropdown-content2 li:hover,
.dropdown-content3 li:hover,
.dropdown-content4 li:hover{
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}
/* create order button  styles */
.create_order1,
.create_order2,
.create_order3,
.create_order4{
    font-size: 20px;
    font-weight: bolder;
    color: red;
    margin-left: 70px;
    cursor: pointer;
}
/* place order section styles */
.place_order{
    width: 100%;
    height: 100px;
    background-color: #F8C7CC;
    position: relative;
}
#order_btn{
    position: absolute;
    top: 35%;
    left: 40%;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: forestgreen;
    cursor: pointer;
}
/* message section  styles */
.footer{
    background-color: #466060;
    width: 100%;
    height:230px;
    clear: both;
}
#message{
    font-size: 60px;
    text-align: center;
    padding: 60px;
}
/* copyright section  styles */
.copyright{
    background-color: black;
    width: 100%;
    height: 30px;
}
.copyright_info{
    color: white;
    text-align: center;
    margin: 0px;
}


